In [ ]:
import pandas as pd
import seaborn as sns
sns.set()
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split


from keras.models import Sequential
from keras.layers import Dense

In [38]:
df = pd.read_csv('Churn_Modelling.csv')

In [39]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [40]:
df.shape

(10000, 14)

In [41]:
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [42]:
gender = pd.get_dummies(df['Gender'], drop_first=True)
geography = pd.get_dummies(df['Geography'], drop_first=True)

df = pd.concat([df, gender, geography], axis=1)
df = df.drop(['Geography', 'Gender'], axis=1)
df = df.dropna()

df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Male,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,1,0
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [43]:
X = df.drop(['Exited'], axis=1)
Y = df['Exited']

In [44]:
sc = StandardScaler()
X = sc.fit_transform(X)
X

array([[-0.32622142,  0.29351742, -1.04175968, ..., -1.09598752,
        -0.57873591, -0.57380915],
       [-0.44003595,  0.19816383, -1.38753759, ..., -1.09598752,
        -0.57873591,  1.74273971],
       [-1.53679418,  0.29351742,  1.03290776, ..., -1.09598752,
        -0.57873591, -0.57380915],
       ...,
       [ 0.60498839, -0.27860412,  0.68712986, ..., -1.09598752,
        -0.57873591, -0.57380915],
       [ 1.25683526,  0.29351742, -0.69598177, ...,  0.91241915,
         1.72790383, -0.57380915],
       [ 1.46377078, -1.04143285, -0.35020386, ..., -1.09598752,
        -0.57873591, -0.57380915]])

In [45]:
x_train, x_test, y_train, y_test = train_test_split(X, Y)

In [46]:
model = Sequential()
model.add(Dense(activation='relu', units=6))
model.add(Dense(activation='relu', units=6))
model.add(Dense(activation='sigmoid', units=1))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(x_train, y_train, batch_size=10, epochs=50)

Epoch 1/50
750/750 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7429
Epoch 2/50
750/750 [==============================] - 1s 2ms/step - loss: 0.4289 - accuracy: 0.8100
Epoch 3/50
750/750 [==============================] - 1s 2ms/step - loss: 0.4089 - accuracy: 0.8239
Epoch 4/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3941 - accuracy: 0.8271
Epoch 5/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3816 - accuracy: 0.8313
Epoch 6/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3725 - accuracy: 0.8312
Epoch 7/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3672 - accuracy: 0.8308
Epoch 8/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3633 - accuracy: 0.8299
Epoch 9/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3606 - accuracy: 0.8372
Epoch 10/50
750/750 [==============================] - 3s 4ms/step - loss: 0.3580 - accuracy: 0.8549
Epoch 11/50
750/750 [==============================] - 4s 5ms/step - loss: 0.3561 - accuracy: 0.8560
Epoch 12/50
750/750 [==============================] - 3s 5ms/step - loss: 0.3541 - accuracy: 0.8569
Epoch 13/50
750/750 [==============================] - 4s 5ms/step - loss: 0.3522 - accuracy: 0.8579
Epoch 14/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3508 - accuracy: 0.8609
Epoch 15/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3494 - accuracy: 0.8605
Epoch 16/50
750/750 [==============================] - 1s 1ms/step - loss: 0.3471 - accuracy: 0.8632
Epoch 17/50
750/750 [==============================] - 1s 1ms/step - loss: 0.3440 - accuracy: 0.8595
Epoch 18/50
750/750 [==============================] - 2s 2ms/step - loss: 0.3413 - accuracy: 0.8635
Epoch 19/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3398 - accuracy: 0.8605
Epoch 20/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8615
Epoch 21/50
750/750 [==============================] - 1s 1ms/step - loss: 0.3389 - accuracy: 0.8625
Epoch 22/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3379 - accuracy: 0.8639
Epoch 23/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3377 - accuracy: 0.8635
Epoch 24/50
750/750 [==============================] - 2s 2ms/step - loss: 0.3376 - accuracy: 0.8644
Epoch 25/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3373 - accuracy: 0.8643
Epoch 26/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3369 - accuracy: 0.8620
Epoch 27/50
750/750 [==============================] - 2s 2ms/step - loss: 0.3366 - accuracy: 0.8636
Epoch 28/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3367 - accuracy: 0.8633
Epoch 29/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3363 - accuracy: 0.8632
Epoch 30/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8625
Epoch 31/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3363 - accuracy: 0.8608
Epoch 32/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8637
Epoch 33/50
750/750 [==============================] - 2s 2ms/step - loss: 0.3349 - accuracy: 0.8647
Epoch 34/50
750/750 [==============================] - 2s 2ms/step - loss: 0.3350 - accuracy: 0.8635
Epoch 35/50
750/750 [==============================] - 2s 2ms/step - loss: 0.3351 - accuracy: 0.8629
Epoch 36/50
750/750 [==============================] - 2s 2ms/step - loss: 0.3351 - accuracy: 0.8631
Epoch 37/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8641
Epoch 38/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3341 - accuracy: 0.8663
Epoch 39/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8649
Epoch 40/50
750/750 [==============================] - 2s 3ms/step - loss: 0.3344 - accuracy: 0.8651
Epoch 41/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8635
Epoch 42/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3337 - accuracy: 0.8641
Epoch 43/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3333 - accuracy: 0.8641
Epoch 44/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3342 - accuracy: 0.8668
Epoch 45/50
750/750 [==============================] - 2s 2ms/step - loss: 0.3330 - accuracy: 0.8661
Epoch 46/50
750/750 [==============================] - 1s 1ms/step - loss: 0.3341 - accuracy: 0.8655
Epoch 47/50
750/750 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8653
Epoch 48/50
750/750 [==============================] - 1s 1ms/step - loss: 0.3338 - accuracy: 0.8636
Epoch 49/50
750/750 [==============================] - 1s 1ms/step - loss: 0.3331 - accuracy: 0.8652
Epoch 50/50
750/750 [==============================] - 1s 1ms/step - loss: 0.3330 - accuracy: 0.8647

In [51]:
y_pred = model.predict(x_test)
y_pred = (y_pred > 0.5)

 1/79 [..............................] - ETA: 2s

79/79 [==============================] - 0s 2ms/step

In [52]:
print(accuracy_score(y_test, y_pred))

0.8584